    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%=baseURL%>/"><i class="fa-solid fa-house pe-2"></i>L'annuaire des Étudiants</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-1 text-right justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto flex-nowrap">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="<%=baseURL%>/admin/"><i class="fa-solid fa-house-lock pe-2"></i>Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=baseURL%>/admin/antennas"><i class="fa-solid fa-gear"></i> Les Centres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=baseURL%>/admin/sessions"><i class="fa-solid fa-gear"></i> Les Sessions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=baseURL%>/" title="Retour Accueil"><i class="fa-solid fa-house pe-2"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=baseURL%>/user-account"><i class="fa-solid fa-user-gear"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=baseURL%>/logout"><i class="fa-solid fa-power-off"></i></a>
            </li>
            <!--  <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
          <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>
