<%- include('../_head'); %>
</head>
<body>
    <%- include('_header'); %>

    <div class="container">
        <div><h1><%= title %></h1></div>
        <% if (message) { %>
            <p class="alert alert-success"><%= message %></p>
        <% } %>  
        <form method="post" action="<%=baseURL%>/admin/ajax-create-category">
            <div class="row mb-3">
              <label for="categoryName" class="col-sm-2 col-form-label">Nom de la catégorie</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="categoryName" name="categoryName">
              </div>
            </div>
            <div class="row mb-3">
                <label for="categorySlug" class="col-sm-2 col-form-label">Slug de la catégorie</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="categorySlug" name="categorySlug">
                </div>
            </div>
            <div class="row mb-3">
                <label for="categoryDescription" class="col-sm-2 col-form-label">Description de la catégorie</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="categoryDescription" name="categoryDescription" rows="3"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="categoryImg">
                    <label class="form-check-label" for="categoryImg">
                      Présence d'une image nommée avec le Slug de la catégorie ?
                    </label>
                </div>
            </div>
<!-- TODO ajouter un champ fichier pour l'image -->
            <div class="col-12">
                <button class="btn btn-success" type="submit" value="post">Créer la catégorie</button>
                <a href="<%=baseURL%>/admin/" class="btn btn-secondary" role="button">Annuler</a>
            </div>
        </form>
    </div>
   
    <div class="mt-5">
        <a class="btn btn-success btn-sm mb-5" role="button"  href="<%=baseURL%>/admin/"><i class="fa-solid fa-layer-group px-2"></i>Retour à l'accueil du panneau d'administration</a>
    </div>
<%- include('../_footer'); %>