<%- include('../_head'); %>
</head>
<body>
    <%- include('_header'); %>

    <div class="container">
        <div><h1><%= title %></h1></div>
        <% if (message) { %>
            <p class="alert alert-success"><%= message %></p>
        <% } %>  
        <form method="post" action="<%=baseURL%>/admin/ajax-create-antenna">
            <div class="row mb-3 form-group required">
              <label for="antennaName" class="col-sm-2 col-form-label">Nom du centre de formation</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="antennaName" name="antennaName" required="required">
              </div>
            </div>
            <div class="row mb-3 form-group required">
                <label for="antennaSlug" class="col-sm-2 col-form-label">Slug</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="antennaSlug" name="antennaSlug" required="required">
                </div>
            </div>
            <div class="row mb-3 form-group">
                <label for="antennaDescription" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="antennaDescription" name="antennaDescription" rows="3"></textarea>
                </div>
            </div>
            <div class="row mb-3 form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" id="antennaImg">
                    <label class="form-check-label" for="antennaImg">
                      Présence d'une image nommée avec le Slug du centre ?
                    </label>
                </div>
            </div>
<!-- TODO ajouter un champ fichier pour l'image -->
            <div class="col-12 form-group">
                <button class="btn btn-success" type="submit" value="post">Créer le centre de formation</button>
                <a href="<%=baseURL%>/admin/" class="btn btn-secondary" role="button">Annuler</a>
            </div>
        </form>
    </div>
   
    <div class="mt-5">
        <a class="btn btn-success btn-sm mb-5" role="button"  href="<%=baseURL%>/admin/"><i class="fa-solid fa-house-lock pe-2"></i>Retour à l'accueil du panneau d'administration</a>
    </div>
<%- include('../_footer'); %>