<%- include('../_head'); %>
</head>
<body>
    <%- include('_header'); %>

    <div class="container">
        <div><h1><%= title %></h1></div>
        <div class="row">
            <div class="col-sm-4 col-md-3 col-xl-2">

            </div>
            <div class="col-sm-8 col-md-7 col-xl-10">

            </div>
        </div>
    </div>
   
    <div class="mt-5">
        <a class="btn btn-success btn-sm mb-5" role="button"  href="<%=baseURL%>/admin/"><i class="fa-solid fa-layer-group px-2"></i>Retour à l'accueil du panneau d'administration</a>
    </div>
<%- include('../_footer'); %>