<%- include('../_head'); %>
</head>
<body>
    <%- include('_header'); %>

    <div class="container">
        <div class="row">
            <!-- <div class="col-sm-4 col-md-3 col-xl-2"> -->
            <div>
                <p>Bienvenue sur le Panneau d'administration Concept Institut</p>
                <h1><%= title %></h1>
            </div>
         </div>
        <% if (categories) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">-</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Slug</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(function(currentCategory) { %>

                        <tr>
                            <td>
                            <img class="shadow p-2 rounded" src="/images/<%= currentCategory.categorySlug %>-75.jpg" alt="<%= currentCategory.categorySlug %> illustration">
                            </td>
                            <th scope="row"><%= currentCategory.categoryName %> </th>
                            <td><%= currentCategory.categorySlug %></td>
                            <td><%= currentCategory.categoryDescription %></td>
                            <td>
                                <!-- <a href="admin/category/<%= currentCategory.categorySlug %>" alt="Voir les produits de la catégorie"><i class="fa-solid fa-magnifying-glass px-1"></i></a>                 -->
                                <div><a href="<%=baseURL%>/admin/category/<%= currentCategory.categorySlug %>" alt="Voir les produits de la catégorie"><i class="fa-solid fa-magnifying-glass px-1"></i>Voir les produits</a></div>                
                                <div><a href="#" alt="Modifier la catégorie"><i class="fa-solid fa-pen-to-square px-1"></i>Modifier</a></div>      
                                <div><a href="#" alt="Supprimer la catégorie"><i class="fa-solid fa-trash px-1"></i>Supprimer</a></div>                     
                            </td>
                        </tr>

                    <% }); %>
                </tbody>
            </table>
        <p>&nbsp;</p>

        <% } else { %>
            <p class="alert alert-warning"><%= message %></p>
        <% } %>              
  
        <div class="mt-5">
            <a class="btn btn-outline-success btn-sm mb-5" role="button"  href="<%=baseURL%>/">Retour à l'accueil du site</a>
        </div>
<%- include('../_footer'); %>