<%- include('../_head'); %>
</head>
<body>
    <%- include('../_header'); %>

    <div class="container">
        <div class="row">
            <!-- <div class="col-sm-4 col-md-3 col-xl-2"> -->
            <div>
                <p><%= message %></p>
            </div>
         </div>
    </div>
  
    <div class="mt-5">
        <a class="btn btn-success btn-sm mb-5" role="button"  href="<%=baseURL%>/">Retour à l'accueil du site</a>
    </div>
<%- include('../_footer'); %>