<%- include('../_head'); %>
<%- include('_header'); %>
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 mb-5 justify-content">
                <h4><i class="fa-solid fa-school m-1 mb-2"></i> Centres de formation</h4>
                <div class="">
                    <% if (antennas == "" && messageAntenna != "") { %>
                    <p class="alert alert-warning mt-3"><%= messageAntenna %></p>
                <% } else { %>            
                    <a href="<%#=baseURL%>/admin/antennas" class="btn btn btn-success position-relative" role="button">
                        <i class="fa-solid fa-eye px-1"></i> Voir les centres de formation
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            <%= antennas.length %>
                            <span class="visually-hidden">centres de formation</span>
                        </span>
                    </a>
                <% } %>            
                </div>
                <div class="">
                    <a href="<%#=baseURL%>/admin/create-antenna" class="btn btn btn-outline-success mt-2" role="button">
                        <i class="fa-solid fa-square-plus px-1"></i> Créer un centre de formation
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <h4><i class="fa-solid fa-chalkboard-user m-1 mb-2"></i> Sessions de formation</h4>
                <div class="">
                    <% if (sessions == "" && messageSession != "") { %>
                        <p class="alert alert-warning mt-3"><%= messageSession %></p>
                    <% } else { %>            
                        <a href="<%#=baseURL%>/admin/sessions" class="btn btn btn-success position-relative" role="button">
                            <i class="fa-solid fa-eye px-1"></i> Voir les sessions
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                <%= sessions.length %>
                                <span class="visually-hidden">sessions</span>
                            </span>
                        </a>
                    <% } %>            
                </div>
                <div class="">
                    <a href="<%#=baseURL%>/admin/create-session" class="btn btn btn-outline-success mt-2" role="button"><i class="fa-solid fa-square-plus px-1"></i> Créer une session</a>
                </div>
            </div>
        </div>
    <%#- include('_listAntennas'); %>

<%- include('../_footer'); %>