<%- include('../_head'); %>
<%- include('_header'); %>
    <div class="container">
        <div class="alert alert-danger mb-5"><p> <b>revoir l'affichage du Dashboard (avec statistiques et boutons de création ou consultation des listes)</b></p></div>
        <div>
            <a href="<%=baseURL%>/admin/create-antenna" class="btn btn-lg btn-outline-success" role="button"><i class="fa-solid fa-square-plus px-1"></i>Créer un centre de formation</a>
            <a href="<%=baseURL%>/admin/antennas" class="btn btn-lg btn-success" role="button"><i class="fa-solid fa-eye px-1"></i> Voir tous les centres de formation</a>
        </div>
        <div class="mt-1">
            <a href="<%=baseURL%>/admin/create-session" class="btn btn-lg btn-outline-success" role="button"><i class="fa-solid fa-square-plus px-1"></i>Créer une session</a>
            <a href="<%=baseURL%>/admin/sessions" class="btn btn-lg btn-success" role="button"><i class="fa-solid fa-eye px-1"></i> Voir toutes les sessions</a>
        </div>
        <%#- include('_listAntennas'); %>

<%- include('../_footer'); %>