<%- include('../_head'); %>
</head>
<body>
    <%- include('_header'); %>

    <div class="container">
        <div><h1><%= title %></h1></div>
        <% if (message) { %>
            <p class="alert alert-warning"><%= message %></p>
        <% } %>    
        <div><h3>Produit <%= product.productName %></h3></div>
        <p><%= product.productDescription %></p>
        <p><%= product.productPrice %></p>

        <div class="mt-5">
            <a class="btn btn-outline-secondary btn-sm mb-5" role="button"  href="<%=baseURL%>/admin/products"><i class="fa-solid fa-layer-group px-2"></i>Retour à la liste de tous les produits</a>
            <a class="btn btn-success btn-sm mb-5" role="button"  href="<%=baseURL%>/admin/"><i class="fa-solid fa-layer-group px-2"></i>Retour à l'accueil du panneau d'administration</a>
        </div>
<%- include('../_footer'); %>