<%- include('../_head'); %>
<%- include('_header'); %>
    <div class="container">
        <div>
            <a href="<%=baseURL%>/admin/create-antenna" class="btn btn-outline-success btn-sm" role="button"><i class="fa-solid fa-square-plus px-1"></i>Créer un centre de formation</a>
        </div>
        <%- include('_listAntennas'); %>
    
  
        <div class="mt-5">
            <a href="<%=baseURL%>/admin" class="btn btn-success btn-sm mb-5" role="button"><i class="fa-solid fa-house-lock pe-2"></i>Retour au panneau d'administration</a>
        </div>
<%- include('../_footer'); %>