<%- include('../_head'); %>
<%- include('_header'); %>
    <div class="container">
        <div class="row">
            <div class="card shadow bg-body rounded m-3 col-sm-10 col-md-8 mb-6">
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-8 mb-2">Région : 
                            <% if (antenna.antennaRegion) { %>
                                <span class="badge bg-light text-dark">
                                    <a href="<%=baseURL%>/admin/antenna/<%= antenna.antennaRegion %>">                    
                                    <%= antenna.antennaRegion %>
                                    </a>
                                </span>
                            <% } else { %> - <% } %>
                        </div>
                        <div class="col-4 text-end">
                            <span class="badge bg-success"><%= antenna.antennaNbSessions %><i class="fa-solid fa-chalkboard-user px-1"></i></span>
                            <span class="badge bg-secondary"><%= antenna.antennaNbStudents %><i class="fa-solid fa-user-graduate px-1"></i></span>
                        </div>
                    </div>
                    <h2><%= antenna.antennaName %> </h2>
                    <div>
                        <p><%= antenna.antennaDescription %></p>
                    </div>
                    

                    <div class="text-end">
                        
                    </div> 
                    <hr />

                    <div class="row justify-content-around">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-2 text-end">
                                    <i class="fas fa-map-marker-alt text-success"></i>
                                </div>
                                <div class="col-10 text-start">
                                    <%= antenna.antennaAddress %>  <br />
                                    <%= antenna.antennaZipCode %>  <%= antenna.antennaCity %> 
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <i class="fas fa-envelope text-success"></i> <%= antenna.antennaEmail %><br />
                            <i class="fas fa-phone text-success"></i> <%= antenna.antennaPhone %>

                        </div>
                      </div>

                    
 
                </div>
            </div>
            <a href="<%=baseURL%>/admin/update-antenna/<%= antenna._id %>">Modifier ce centre<i class="fa-solid fa-pen-to-square px-1"></i></a> <br />
            <a href="<%=baseURL%>/admin/delete-antenna/<%= antenna._id %>">Supprimer ce centre<i class="fa-solid fa-trash px-1"></i></a>
            <div class="col-sm-2 col-md-4 mb-6">
                
                
                
            </div>
        </div>  
    </div>
        

            <br/>
        <a href="<%=baseURL%>/admin/create-session/<%= antenna.antennaSlug %>" class="btn btn-outline-success btn-sm mb-1 mt-1" role="button"><i class="fa-solid fa-square-plus px-1"></i>Créer une session dans ce centre</a>
        <% if (sessions) { %>
            <a href="<%=baseURL%>/admin/update-count-sessions/<%= antenna._id %>" class="btn btn-outline-success btn-sm  mb-1 mt-1" role="button"><i class="fa-solid fa-rotate px-1"></i>rafraîchir le compteur de sessions</a>
        <% } else { %>
            <a href="<%=baseURL%>/admin/delete-antenna/<%= antenna.antennaSlug %>" class="btn btn-secondary btn-sm mb-1 mt-1" role="button"><i class="fa-solid fa-trash px-1"></i>Supprimer le centre sans session</a></div>                 
        <% } %>
   
    <% if (sessions && sessions != "") { %>
        <p>Ce centre est lié à <%= antenna.antennaNbSessions %> session(s)</p>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <!-- <th scope="col">-</th> -->
                    <th scope="col">Session</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% sessions.forEach(function(currentSession) { %>

                    <tr>
                        <!-- <td>
                        <img class="shadow p-2 rounded" src="/images/<%#= currentSession.antennaSlug %>-75.jpg" alt="<%#= currentSession.antennaSlug %> illustration">
                        </td> -->
                        <th scope="row"><%= currentSession.sessionName %> </th>
                        <td><%= currentSession.sessionNbStudents %> €</td>
                        <td><%= currentSession.sessionDescription %></td>
                        <td>
                            <div><a href="<%=baseURL%>/admin/session/<%= currentSession._id %>"><i class="fa-solid fa-magnifying-glass px-1"></i>Voir</a></div>      
                            <div><a href="<%=baseURL%>/admin/update-session/<%= currentSession._id %>"><i class="fa-solid fa-pen-to-square px-1"></i>Modifier</a></div>      
                            <div><a href="<%=baseURL%>/admin/delete-session/<%= antenna.antennaSlug %>/<%= currentSession._id %>"><i class="fa-solid fa-trash px-1"></i>Supprimer</a></div>                     
                        </td>
                    </tr>

                <% }); %>
            </tbody>
        </table>
    <p>&nbsp;</p>

    <% } %>

    <div class="mt-5">
        <a class="btn btn-success btn-sm mb-5" role="button"  href="<%=baseURL%>/admin/"><i class="fa-solid fa-layer-group px-2"></i>Retour à l'accueil du panneau d'administration</a>
    </div>
<%- include('../_footer'); %>