<%- include('../_head'); %>
</head>
<body>
    <%- include('_header'); %>

    <div class="container">
        <div><h1><%= title %></h1></div>    
        <div class="row">
            <div class="col-sm-4 col-md-3 col-xl-2">
                <% if (category.categoryImg) { %>
                    <img class="shadow p-2 mb-3 rounded" src="/images/<%= category.categorySlug %>-150.jpg">
                <% } else { %>
                    <img class="shadow p-2 mb-3 rounded" src="/images/default-150.jpg">
                <% }  %>
            </div>
            <div class="col-sm-8 col-md-7 col-xl-10 mt-3">
                <h3>Catégorie <%= category.categoryName %> </h3>
                <p><%= category.categoryDescription %></p>
                <% if (message) { %>
                    <p class="alert alert-warning"><%= message %></p>
                <% } %>  
                <a href="<%=baseURL%>/admin/create-product/<%= category.categorySlug %>" class="btn btn-outline-success btn-sm" role="button"><i class="fa-solid fa-square-plus px-1"></i>Créer un produit dans cette catégorie</a>
            </div>                

        </div>
    </div>
   
    <% if (products) { %>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <!-- <th scope="col">-</th> -->
                    <th scope="col">Produit</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(function(currentProduct) { %>

                    <tr>
                        <!-- <td>
                        <img class="shadow p-2 rounded" src="/images/<%#= currentProduct.categorySlug %>-75.jpg" alt="<%#= currentProduct.categorySlug %> illustration">
                        </td> -->
                        <th scope="row"><%= currentProduct.productName %> </th>
                        <td><%= currentProduct.productPrice %></td>
                        <td><%= currentProduct.productDescription %></td>
                        <td>
                            <div><a href="#"><i class="fa-solid fa-pen-to-square px-1"></i>Modifier</a></div>      
                            <div><a href="<%=baseURL%>/admin/delete-product/<%= category.categorySlug %>/<%= currentProduct._id %>"><i class="fa-solid fa-trash px-1"></i>Supprimer</a></div>                     
                        </td>
                    </tr>

                <% }); %>
            </tbody>
        </table>
    <p>&nbsp;</p>

    <% } %>


    <div class="mt-5">
        <a class="btn btn-success btn-sm mb-5" role="button"  href="<%=baseURL%>/admin/"><i class="fa-solid fa-layer-group px-2"></i>Retour à l'accueil du panneau d'administration</a>
    </div>
<%- include('../_footer'); %>