<%- include('../_head'); %>
</head>
<body>
    <%- include('_header'); %>
    <div class="container">
    <h1>Détail produit</h1>
    <p><%= message %></p>
    <div class="col-sm-8 col-md-6 mb-4">
        <div class="card shadow bg-body rounded">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col-8 mb-2">Catégorie : 
                    <% if (product.productCategory) { %>
                        <span class="badge bg-light text-dark"><a href="<%=baseURL%>/category/<%= product.productCategory.categorySlug %>">                    
                            <%= product.productCategory.categoryName %>
                        </a></span>
                    <% } else { %> - <% } %>
                    </div>
                    <div class="col-4 text-end">
                        <span class="badge bg-success"><%= product.productPrice %> €</span>
                    </div>
                </div>
                <h2><%= product.productName %> </h2>
                <div>
                    <p><%= product.productDescription %></p>
                </div>
                
                <div class="text-end">
                    <a href="<%=baseURL%>/admin/update-product/<%= product._id %>">Modifier ce produit<i class="fa-solid fa-pen-to-square px-1"></i></a> <br />
                    <a href="<%=baseURL%>/admin/delete-product/<%= product._id %>">Supprimer ce produit<i class="fa-solid fa-trash px-1"></i></a>
                </div> 

            </div>
        </div>
    </div>

    <a href="<%=baseURL%>/admin/category/<%= product.productCategory.categorySlug %>" class="btn btn-success btn-sm mb-5" role="button" ><i class="fa-solid fa-layer-group pe-2"></i> Retour à la catégorie</a>
    <a href="<%=baseURL%>/admin/products" class="btn btn-success btn-sm mb-5" role="button"><i class="fa-solid fa-list pe-2"></i> Voir la liste de tous les produits</a>

<%- include('../_footer'); %>