
<header>
  <div class="px-3 py-2 text-white bg-success">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">L'annuaire des Étudiants</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end  m-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/antennas">Les Centres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sessions">Les Sessions</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
          <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>
    <div class="container">


      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <!-- TODO Logo à mettre ici -->
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          <span class="navbar-brand mb-0 h1">L'annuaire des Etudiants Simplon</span>

        </a>
        <!-- <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">L'annuaire des Étudiants Simplon</span>
          </div>
        </nav> -->

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li class="nav-item">
            <a href="/" class="nav-link active">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="/"></use></svg> <!-- TODO xlink:href--> 
              Accueil
            </a>
          </li>
          <li class="nav-item">
            <a href="/antennas" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="/antennas"></use></svg><!-- TODO xlink:href--> 
              Centres de formation
            </a>
          </li>
          <li class="nav-item">
            <a href="/sessions" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="/sessions"></use></svg><!-- TODO xlink:href--> 
              Sessions
            </a>
          </li>
          <li class="nav-item">
            <%  if(user) { %>
              <a  href="/admin/logout">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="/admin/logout"></use></svg><!-- TODO xlink:href--> 
                <button type="button" class="btn btn-light text-dark me-2">Déconnexion <%= user.username %> </button>
              </a>
            <%  } %>
          </li>
          <!-- <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
              Products
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
              Customers
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container">

    <!-- </div>
    <div class="container d-flex flex-wrap justify-content-center"> -->

      <p class="lead">
        This is a lead paragraph. It stands out from regular paragraphs.
      </p>
      <div class="text-end">
        <!-- <button type="button" class="btn btn-light text-dark me-2">Login</button>
        <button type="button" class="btn btn-success">Sign-up</button> -->
      </div>
    </div>
  </div>
</header>


     

<div class="container main-container" id="haut">

      <!-- <img class="opacity-75 img-fluid mb-0" src="/images/header.jpg"> -->
    <!-- <ul class="nav justify-content-center bg-light border-bottom mb-3">
      <li class="nav-item">
        <a class="btn btn-success mx-1" href="/"><i class="fa-solid fa-house"></i></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-success mx-1" href="/antennas">Les centres de formation</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-success mx-1" href="/sessions">Les sessions</a>
      </li>
    -->
    <!-- <li class="nav-item">
        <a class="btn btn-secondary mx-1" href="/admin">Administration du site</a>
      </li> 
     
     </ul>
    -->

    <% if (typeof message_success != 'undefined' && message_success != '') { %>
      <div class="alert alert-success" role="alert"><%= message_success %></div>
    <% } %> 
    <% if (typeof msg_success != 'undefined' && msg_success != '') { %>
      <div class="alert alert-success" role="alert"><%= msg_success %></div>
    <% } %> 
    <% if (typeof message_error != 'undefined' && message_error != '') { %>
      <div class="alert alert-danger" role="alert"><%= message_error %></div>
    <% } %> 
    <% if (typeof msg_error != 'undefined'&& msg_error != '') { %>
      <div class="alert alert-danger" role="alert"><%= msg_error %></div>
    <% } %>
