
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%=baseURL%>/">L'annuaire des Étudiants</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-1 text-right justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto flex-nowrap">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="<%=baseURL%>/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=baseURL%>/antennas">Les Centres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=baseURL%>/sessions">Les Sessions</a>
            </li>
            <!-- Si pas d'utilisateur connecté -->
            <% if ('undefined' == typeof userInfos) { %>
              <li>
              <a class="nav-link" href="<%=baseURL%>/signup"><i class="fa-solid fa-user-plus"></i></a>
            </li>
            <li>
              <a class="nav-link" href="<%=baseURL%>/login"><i class="fa-solid fa-circle-user fa-lg"></i></a>
            </li>
            <% } else if (userInfos.access == true) { %>
              <!-- Si un utilisateur est connecté -->
            <li>
              <a class="nav-link" href="<%=baseURL%>/user-account"><i class="fa-solid fa-circle-user fa-lg"></i></a>
            </li>
            <li>
              <a class="nav-link" href="<%=baseURL%>/logout"><i class="fa-solid fa-power-off"></i></a>
            </li>
            <% } else { %>
              <li>
              <a class="nav-link" href="<%=baseURL%>/signup"><i class="fa-solid fa-user-plus"></i></a>
            </li>
            <li>
              <a class="nav-link" href="<%=baseURL%>/login"><i class="fa-solid fa-circle-user fa-lg"></i></a>
            </li>
            <% } %>

            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
          <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>
