<%- include('_head'); %>
</head>
<body>
    <%- include('_header'); %>
    <h1>Bienvenue sur le site de Concept Institut</h1>
    <p>Institut de beauté Bio et spécialisé dans la vente de produits cosmétiques bio et naturels de petits artisans (français).</p>
    <p>Votre institut vous accueil sur RDV </p>

    <div class="row">
        <div class="col-5 col-md-3 text-center">
            <i class="fas fa-map-marker-alt mt-4 fa-2x text-dark"></i>
            <p>9 rue du centre <br/>75000 PARIS</p>
        </div>
        <div class="col-7 col-md-3 text-center">
            <i class="fas fa-calendar-days mt-4 fa-2x text-dark"></i>
            <p>du mardi au vendredi <br/> de 9h à 18h</p>
        </div>
        <div class="col-5 col-md-3 text-center">
            <i class="fas fa-phone mt-4 fa-2x text-dark"></i>
            <p>01 02 03 04 05</p>
        </div>
        <div class="col-7 col-md-3 text-center">
            <i class="fas fa-envelope mt-4 fa-2x text-dark"></i>
            <p>contact@conceptinstitut.com</p>
        </div>
    </div>

    <%- include('category/_listCategories'); %>
    <!-- <p>
        <a href="<%=baseURL%>/products" class="btn btn-success btn-sm mb-5">parcourir tous les produits</a>
    </p> -->
    <%- include('_footer'); %>