<%- include('_head'); %>
</head>
<body>
    <%- include('_header'); %>
    <h1>Bienvenue sur l'annuaire des étudiants de Simplon</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo eos molestiae itaque delectus dolorem voluptas, et sapiente voluptates, qui eveniet cupiditate ipsa! Odit iure, sapiente velit earum a cum minima.</p>

    <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

    <%- include('antenna/_listAntennas'); %>
    <!-- <p>
        <a href="<%=baseURL%>/sessions" class="btn btn-success btn-sm mb-5">parcourir toutes les sessions</a>
    </p> -->
    <%- include('_footer'); %>