<%- include('_head'); %>
<%- include('_header'); %>
    <p>Parcourez les centres de formation Simplon, ou les sessions par domaine. Découvrez les élèves qui ont participé aux sessions de formation.</p>

    <% if (message) { %>
      <p class="alert alert-warning"><%= message %></p>
    <% } %>
    <div class="row">
      <div class="col-md-6">
        <h3>Centres de formation par région</h3>
        <% if (antennas && antennas != "") { %>
          <%- include('antenna/_listAntennas'); %>
        <% } else { %>
            <p class="alert alert-warning"><%= messageAntenna %></p>
        <% } %>        
        <p>
            <a href="<%=baseURL%>/antennas" class="btn btn-success btn-sm mb-5">parcourir tous les centres</a>
        </p>
      </div>
      <div class="col-md-6">

        <h3>Sessions de formation par domaine</h3>
        <% if (sessions && sessions != "") { %>
          <%- include('session/_listSessions'); %>
        <% } else { %>
            <p class="alert alert-warning"><%= messageSession %></p>
        <% } %>    
        
        <p>
            <a href="<%=baseURL%>/sessions" class="btn btn-success btn-sm mb-5">parcourir toutes les sessions</a>
        </p>
      </div>
    </div>

    <h3>Recherche d'étudiants par critères</h3>
    <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>

    <%- include('_footer'); %>