    <h1>Liste des catégories de produits</h1>
    <p>Nos produits sont vendus exclusivement à l'institut pour le moment. N'hésitez pas à nous contacter.</p>

    <p><%= message %></p>
    <% if (categories) { %>
            <div class="row justify-content-center">
            <% categories.forEach(function(currentCategory) { %>
                <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card mw-20 mb-3">
                        <!-- <div class="card" style="width: 18rem;"> -->
                            <% if (currentCategory.categoryImg) { %>
                                <img class="card-img-top shadow p-2 rounded img-fluid" src="/images/<%= currentCategory.categorySlug %>.jpg">
                            <% } else { %>
                                <img class="card-img-top shadow p-2 rounded img-fluid" src="/images/default.jpg">
                            <% }  %>
                        <div class="card-body">
                        <h2 class="card-title"><%= currentCategory.categoryName %></h2>
                        <p class="card-text"><%= currentCategory.categoryDescription %></p>
                        <a href="category/<%= currentCategory.categorySlug %>" class="btn btn-outline-success"><i class="fa-solid fa-magnifying-glass px-1"></i> Voir les <%= currentCategory.categoryNbProducts %> produits de la catégorie </a>                
                        </div>
                    </div>
                </div>
            <% }); %>
            </div>
          <p>&nbsp;</p>
    <% } %>
