<%- include('../_head'); %>
</head>
<body>
    <%- include('../_header'); %>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-xl-2">
                <% if (category.categoryImg) { %>
                    <img class="shadow p-2 mb-3 rounded" src="/images/<%= category.categorySlug %>-150.jpg">
                <% } else { %>
                    <img class="shadow p-2 mb-3 rounded" src="/images/default-150.jpg">
                <% }  %>

            </div>
            <div class="col-sm-8 col-md-7 col-xl-10">
                <h1>Catégorie <%= category.categoryName %> </h1>
                <p><%= category.categoryDescription %></p>
            </div>
        </div>
    </div>
   
    <div class="row">
        <% if (products) { %>
            <% products.forEach(function(currentProduct) { %>
                <div class="col-sm-4 col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h2><%= currentProduct.productName %> </h2>
                            <div>
                                <span class="badge bg-success"><%= currentProduct.productPrice %> €</span>
                                <p><%= currentProduct.productDescription %></p>
                            </div>
                            <div><a class="btn btn-outline-secondary btn-sm" role="button" href="../product/<%= currentProduct._id %>"><i class="fa-solid fa-eye px-1"></i>Voir fiche produit</a></div>
                        </div>
                    </div>
                </div>
                <% }); %>
        <% } else { %>
            <p class="alert alert-warning"><%= message %></p>
        <% } %>
    </div>
    <div class="mt-5">
        <a class="btn btn-success btn-sm mb-5" role="button"  href="../categories"><i class="fa-solid fa-layer-group px-2"></i>Retour à la liste des catégories</a>
    </div>
<%- include('../_footer'); %>