<%- include('../_head'); %>
</head>
<body>
    <%- include('../_header'); %>
    <h1>Détail produit</h1>
    <p><%= message %></p>
    <div class="col-sm-8 col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h2><%= product.productName %> </h2>
                <div>
                    <span class="badge bg-success"><%= product.productPrice %> €</span>
                    <p><%= product.productDescription %></p>
                </div>
                <div>Catégorie : 
                    <% if (product.productCategory) { %>
                        <span class="badge bg-light text-dark"><a href="<%=baseURL%>/category/<%= product.productCategory.categorySlug %>">                    
                            <%= product.productCategory.categoryName %>
                        </a></span>
                    <% } else { %> - <% } %>
                </div>
            </div>
        </div>
    </div>

    <a href="../categories" class="btn btn-success btn-sm mb-5" role="button" ><i class="fa-solid fa-layer-group pe-2"></i> Retour à la liste des catégories</a>
    <a href="../products" class="btn btn-success btn-sm mb-5" role="button"><i class="fa-solid fa-list pe-2"></i> Voir la liste de tous les produits</a>

<%- include('../_footer'); %>