<%- include('../_head'); %>
</head>
<body>
    <%- include('../_header'); %>
    <h1>Détail produit</h1>
    <p><%= message %></p>
    <div class="col-sm-4 col-md-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h2><%= product.productName %> </h2>
                <div>
                    <span class="badge bg-success"><%= product.productPrice %> €</span>
                    <p><%= product.productDescription %></p>
                </div>
                <div>Catégorie : 
                    <%= category.categoryName %> 
                </div>
                <!-- <div><a class="btn btn-primary btn-sm" role="button" href="../product/<%#= currentProduct._id %>">Voir fiche produit</a></div> -->
            </div>
        </div>
    </div>

    <a href="../categories" class="btn btn-primary btn-sm mb-5" role="button" >Retour à la liste des catégories</a>
    <a href="../products" class="btn btn-primary btn-sm mb-5" role="button" >Voir la liste de tous les produits</a>

<%- include('../_footer'); %>