<%- include('../_head'); %>
<%- include('../_header'); %>
    <% if (antennas && antennas != "") { %>
        <%- include('_listAntennas'); %>
    <% } else { %>
        <p class="alert alert-warning"><%= message %></p>
    <% } %>   

    <a class="btn btn-success btn-sm mb-5" role="button" href="<%#=baseURL%>/"><i class="fa-solid fa-home pe-2"></i>Retour à l'accueil</a>

    <%- include('../_footer'); %>
